#
# These are helpers
# Cluster nodes are expected ...
# * Named: node-[0-9] on /etc/hosts
# * SSHD to allow root between nodes
# * Have passwordless ssh-keys login as root
#
function pssh(){
   hosts=$(awk '/node-/{print $(NF)}' /etc/hosts | wc -l)
   cmd=$@
   echo "Executing: ${cmd}"
   for i in $(seq 1 ${hosts}); do
       hostname=$(awk '/node-'${i}'/ {print $2}' /etc/hosts)
       echo "===== ${hostname} ====="
       ssh root@${hostname} "${cmd}"
       echo "===== Done ====="
   done
}
